<div class="animated fadeIn">

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header fundo">
                    <i class="fas fa-chalkboard"></i> <strong>Gerenciar Galeria</strong>
                    
                </div>
                <div class="card-body">

                    <div class="col-lg-12">
                        <mat-accordion>

                             <!-- Anexo Cliente -->
                             <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title><h6>Manutenção Anexo</h6></mat-panel-title>

                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-anexo-cliente></app-anexo-cliente>
                            </mat-expansion-panel>

                             <!-- Foto Cliente -->
                             <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title><h6>Manutenção Foto</h6></mat-panel-title>

                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-foto-cliente></app-foto-cliente>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



