<div class="animated fadeIn">

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header fundo">
                    <i class="fas fa-sync"></i> <strong>Sincronismo</strong>
                </div>
                <div class="card-body">

                    <div class="col-lg-12">
                        <mat-accordion>
                             <!-- Cache -->
                             <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title><h6>Caches</h6></mat-panel-title>

                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-cache-dados></app-cache-dados>
                            </mat-expansion-panel>

                            <!-- Serviços Automaticos -->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title><h6>Serviços Automaticos</h6></mat-panel-title>

                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-sinc-dados></app-sinc-dados>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



