.fa-blue {
  color: #098cc9;
  font-size: 1.2em;
}

.fa-copy {
  color: #098cc9;
  cursor: pointer;
  font-size: 1.0em;
}

.fa-whaltsapp {
  color: #1ebea5;
  cursor: pointer;
  font-size: 1.0em;
}

.modal-danger .modal-header {
  color: #fff;
  background-color: #1ebea5;
}

.modal-danger .modal-content {
  border-color: #1ebea5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #c8ced3;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

control:invalid, .form-control.is-invalid {
  background-image: url('/');
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:disabled, .form-control[readonly] {
background-color: #e4e7ea;
opacity: 1;
}
